/* About Section */
.about {
    width: 100%;
    height: 60vh;
    background-color: #c49b63;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about div {
    width: 30rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .about i {
    font-size: 4rem;
    -webkit-text-stroke: 0.2rem #2a2727;
    color: transparent;
    border: 0.1rem solid #2a2727;
  }
  
  .about h1 {
    font-size: 2rem;
    color: #2a2727;
  }
  
  .about p {
    font-size: 1.5rem;
    color: #2a2727;
  }
  