/* Responsive Styles */
@media (max-width: 900px) {
    .menu-right {
      display: none;
    }
  
    .menu-left {
      width: 100%;
      text-align: center;
    }
  
    .contact-left {
      display: none;
    }
  
    .contact-right {
      width: 100%;
    }
  }
  
  @media (max-width: 600px) {
    html {
      font-size: 35%;
    }
  
    .landing-contact {
      flex-direction: column;
      align-items: center;
    }
  }
  